<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Criteria Range</title>
</head>
<body>
<h1>Input Criteria Range</h1>
<form method="post" action="/get_suitable_meal/">
    <label for="min_kcal">Min Kcal:</label>
    <input type="text" name="min_kcal" required><br>

    <label for="max_kcal">Max Kcal:</label>
    <input type="text" name="max_kcal" required><br>

    <!-- difficulty_level options -->
    <label for="difficulty_level">Difficulty Level:</label>
    <select name="difficulty_level" required>
        <option value="EASY">Easy</option>
        <option value="MEDIUM">Medium</option>
        <option value="HARD">Hard</option>
    </select><br>

    <!-- health_level options -->
    <label for="health_level">Health Level:</label>
    <select name="health_level" required>
        <option value="UNHEALTHY">Unhealthy</option>
        <option value="MEDIUM">Medium</option>
        <option value="HEALTHY">Healthy</option>
    </select><br>


    <button type="submit">Get Suitable Meal</button>
</form>
</body>
</html>
