{% extends 'base.html' %}

{% block head %}
<title>Meal Planner</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h2 class="nice-headline">Create your meal plan in seconds</h2>
        <div class="maintenance">
            <form method="POST" action="{{ url_for('meals_route') }}" class="form-control">
                <label for="max_kcal">Enter your calories: </label>
                <input type="number" name="max_kcal" id="max_kcal" required>
                <button type="submit" class="btn" style="margin-top: 15px; margin-left: 30%">Generate</button>
            </form>

            {% if selected_meals %}
            <div style="margin-top: 20px;">
                <h3 class="nice-headline" style="font-size: 20px">Your Recommended Meals:</h3>
                {% for meal_type, meal in selected_meals.items() %}
                    <div class="bordered">
                        <div style="float: left; width: 50%;">
                            <h4>{{ meal_type }}</h4>
                        </div>
                        {% if meal.kcal %}
                            <div style="float: left; width: 50%; font-style: italic; font-weight: normal;">
                                <p>Kcal: {{ "{:.1f}".format(meal.kcal) }}</p>
                            </div>
                            <div style="clear: both;"></div>
                            <div style="width: 100%; font-weight: normal;">
                                <p><strong>{{meal.name}}</strong></p>
                                <p><strong>Instructions:</strong> <a href={{meal.instructions}}>Visit</a></p>
                                <img src="\static\{{meal.name}}.jpg" alt="test" width="200" height="200"/>
                            </div>
                        {% else %}
                            <div style="float: left; width: 50%; font-style: italic; font-weight: normal;">
                                <p></p>
                            </div>
                            <div style="clear: both;"></div>
                            <div style="width: 100%; font-weight: normal;">
                                <p><strong>No meal found</strong></p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}